body{
  background: #fff;
}
.top{
  width: 100%;
  height: 2.5rem;
  background: #ff5a61;
  text-align: center;
  line-height: 2.5rem;
  font-size: 16px;
}
.middle{
  margin-top:12px; 
}
.middle ul{
list-style: none;
width: 90%;
height: 10.5rem;
margin-left:6%;
}
.middle ul li{
  padding-top: 2rem;
  width: 100%;
  border-bottom:1px solid #ccc; 
}
input{
  width: 100%;
  height: 2rem;
  border: none;
}
.btn1{
  width: 80%;
  height: 3rem;
  background: #ccc;
  margin-top:20px;
  margin-left: 10%;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}

.btn2{
  width: 80%;
  height: 3rem;
  background: #ff464e;
  margin-top:20px;
  margin-left: 10%;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}
